<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773427876939-lp4e2h77e32bql2tl4jq71vvnnh8the3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773427876939-lp4e2h77e32bql2tl4jq71vvnnh8the3</string>
	<key>API_KEY</key>
	<string>AIzaSyBWttu8JSwPfOz3RSb7RJZrQopAosDNSkk</string>
	<key>GCM_SENDER_ID</key>
	<string>773427876939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuchineko.GifPractice2</string>
	<key>PROJECT_ID</key>
	<string>ugotan-aaf5a</string>
	<key>STORAGE_BUCKET</key>
	<string>ugotan-aaf5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773427876939:ios:9a46948cbdb21b90b6a9ce</string>
	<key>DATABASE_URL</key>
	<string>https://ugotan-aaf5a.firebaseio.com</string>
</dict>
</plist>